body{
    background-color: #cccccc;
    
}

th, #botãosub, #navbar{
    background-color: #008080 !important;
}


#container1{
    padding-top: 4%;
}
#container2{

    padding-top: 2%;
}

.TPrincipal{
align-items: center;
text-align: center;
font-size: large;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}